*, *::after, *::before{
  margin: 0; /* zero out the browser default settings */
  padding: 0; /* zero out the browser default settings */
  box-sizing: inherit; /* All elements will inherit the parent's border-box property value */
}

html{
  /* NOTE: => 1rem = 10px */
  font-size: 62.5%; /* Set new root font-size ((10px)) */

}

/*  NOTE: Document parent element */
Body {

  box-sizing: border-box; /* borders and padding no longer added */

  /* Typography */
  font-family: "Lato", sans-serif; /* inherited by all child elelments */
  font-weight: 400;
  line-height: 1.7; /* 1.7 times bigger than the predefined line height */
  color: black;
  padding: 3rem; /* ((30px)) */

}
